@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .title {
        font-size: 32px;
        text-align: center;
        line-height: normal;
        padding-top: 238px;
    }
    .top {
        &__text {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
        &__action {
            display: flex;
            justify-content: center;
        }
    }
    .footer {
        display: grid;
        gap: 32px;
        padding-top: 238px;
    }
    .footer__img {
        width: 343px;
    }

    .game {
        padding-top: 120px;
        &__title {
            font-size: 32px;
            text-align: center;
            line-height: normal;
            padding-top: 51px;
        }
        &__text {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
        &__action {
            display: flex;
            justify-content: center;
            padding-bottom: 64px;
        }
        &__img {
            width: 343px;
            padding-bottom: 85px;
        }
    }
}
