* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  max-height: 767px;
  background-image: url(img/backgroung.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  max-width: 740px;
  padding-top: 60px;
}

.top__text {
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  max-width: 470px;
  line-height: 32px;
  padding-top: 32px;
}

.top__button {
  margin-top: 32px;
  background: #9C0332;
  border: 1px solid #9C0332;
  box-sizing: border-box;
  border-radius: 20px;
  width: 234px;
  height: 48px;
  color: white;
  transition: all 0.3s;
}

.top__button:hover {
  background: #000000;
  color: #FFFFFF;
}

.button__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Montserrat";
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}

.footer__img {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  transition: all 0.3s;
}

.footer__img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.game {
  background-color: #000000;
}
.game__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  padding-top: 280px;
}
.game__text {
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  max-width: 592px;
  line-height: 32px;
  padding-top: 32px;
}
.game__button {
  margin-top: 32px;
  background: #9C0332;
  border: 1px solid #9C0332;
  box-sizing: border-box;
  border-radius: 20px;
  width: 234px;
  height: 48px;
  color: white;
  transition: all 0.3s;
}
.game__button_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Montserrat";
}
.game__button:hover {
  background: #000000;
  color: #FFFFFF;
}
.game__img {
  width: 379px;
  width: 343px;
}
.game__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 32px;
    text-align: center;
    line-height: normal;
    padding-top: 238px;
  }
  .top__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .top__action {
    display: flex;
    justify-content: center;
  }
  .footer {
    display: grid;
    gap: 32px;
    padding-top: 238px;
  }
  .footer__img {
    width: 343px;
  }
  .game {
    padding-top: 120px;
  }
  .game__title {
    font-size: 32px;
    text-align: center;
    line-height: normal;
    padding-top: 51px;
  }
  .game__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game__action {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
  }
  .game__button {
    margin-left: 64px;
    margin-right: 64px;
  }
  .game__img {
    width: 343px;
    padding-bottom: 85px;
    margin-top: 64px;
  }
}/*# sourceMappingURL=style.css.map */